@use "flexstyles";
@use "root_variables";

article {
    width: 100%;
    border: none;

    h1 {
        width: 100%;
        background-color: var(--background_tertiary_color);
        color: var(--alternative_font_color);
        padding-left: .5em;
    }

    p {
        padding: .5em;
        font-size: var(--font-size);
        text-indent: .5em;
        text-align: justify;
        color: var(--font_color);
    }

    ul {
        list-style: none;

        li {
            @include flexstyles.flexRow(center);
            color: var(--link_color);

            * {
                color: var(--link_color);
            }
        }
    }
}
