@use "flexstyles";
@use "root_variables";

button {
    background-color: transparent;
    &:hover {background-color: var(--alternative_background_color);}
}

article {
    width: 100%;
    border: none;
    padding: 0;

    h1 {
        width: 100%;
        background-color: var(--background_tertiary_color);
        color: var(--alternative_font_color);
        padding: .2em;
    }

    h1#info_notas {
        @include flexstyles.flexRow(unset);
        justify-content: space-between;
    }

    p, ul li {
        font-size: var(--font-size);
        text-align: justify;
        padding: .5em;
        text-indent: .5em;
    }
}

.nota {
    text-decoration: underline;
    color: var(--alternative_background_color);
}

.disclaimer {
    background-color: var(--background_tertiary_color);
    padding: .5em;
    font-size: var(--font-size);
    color: var(--alternative_font_color);
}
