@charset "UTF8";

div#menu {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 1028px;
}

div#menu div.menu-item {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 150px;
    height: 75px;
    text-align: center;
    font-size: 15pt;
}

div#menu div.menu-item:hover {
    background-color: gray;
}

div#menu div.menu-item a{
    display: block;
    position: relative;
    top: 20px;
    color: lightblue;
    text-decoration: none;
}

div#menu div.menu-item a:hover {
    color: white;
    font-weight: bolder;
}