@charset "UTF8";

body {
    background-color: lightgray;
}

div#contatos {
    display: block;
    position: absolute;
    width: 700px;
    height: 400px;
    font-size: 20pt;
    font-family: Impact, sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(80, 80, 80);
    border: solid white;
}