@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

body {
    background: url("../_imagens/fundo.jpg") top center fixed;
    background-repeat: no-repeat;
}

body p {
    font-size: 20pt;
    color: white;
    text-align: center;
}

/*Formatação header*/

header {
    height: 300px;
}

header div#logo {
    display: flex;
    position: absolute;
    top: 8px;
    left: 7px;
    width: 175px; 
    height: 175px;
    background-color: black;
    border: 1px solid blue;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 27pt;
}

header div#foto_fundo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 200px;
    border: solid white;
    width: 775px;
    height: 100px;
    background: url("../_imagens/fundo_titulo.jpg");
}

header div#foto_fundo h1 {
    display: block;
    position: relative;
    width: fit-content;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 27pt;
    color: rgb(255, 255, 255);
}

/*Formatação do menu*/

nav#menu {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 986px;
    top: 8px;
    box-shadow: 5px 5px 5px black;
}

nav#menu div.menu-item {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 171px;
    height: 75px;
    text-align: center;
    font-size: 15pt;
}

nav#menu div.menu-item:hover {
   background-color: gray;
}

nav#menu div.menu-item a{
    display: block;
    position: relative;
    top: -27px;
    text-decoration: none;
    height: 75px;
}

nav#menu div.menu-item p {
    display: block;
    position: relative;
    top: 20px;
    color: lightblue;
}

nav#menu div.menu-item p:hover {
    color: white;
    font-weight: bolder;
}

/*Formatação global dos articles*/

article h3.titulo_provisorio {
    /*Temporário*/
    display: block;
    position: relative;
    font-size: 30pt;
    color: white;
}

article p.article_content {
    font-family: 'Nuosu SIL', serif;
    font-size: 15pt;
    color: white;
    text-indent: 20px;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}

/*Formatação article texto introdutório*/

article#texto_introdutorio {
    display: block;
    position: absolute;
    top: 200px;
    background-color: rgb(80, 80, 87);
    border: solid white;
    width: 1325px;
    height: 400px;
    box-shadow: 5px 5px 5px black;
}

article#texto_introdutorio h2 {
    display: block;
    position: absolute;
    top: -75px;
    left: 500px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

/*Formatação do article do texto principal*/

article#texto_principal {
    display: block;
    position: absolute;
    top: 650px;
    background-color: rgb(80, 80, 87);
    width: 1325px;
    height: 400px;
    border: solid white;
    box-shadow: 5px 5px 5px black;
}

/*Formatação da primeira foto*/

div#foto {
    height: 200px;
    width: 300px;
    background-color: black;
    display: flex;
    position: absolute;
    left: 1033px;
    top: 540px;
    border: solid blue;
    box-shadow: 5px 5px 5px black;
}

/*Formatação do article do texto secundário*/

article#texto_secundario {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 1325px;
    height: 200px;
    display: block;
    position: absolute;
    top: 1080px;
    box-shadow: 5px 5px 5px black;
}

/*Formatação video*/

div#video1 {
    border: solid white;
    width: 650px;
    height: 400px;
    background-color: rgb(72, 72, 121);
    display: block;
    position: absolute;
    top: 1300px;
    left: 27px;
    box-shadow: 5px 5px 5px black;
}

/*Formatação iframe fatos e mitos*/

iframe#fatos_mitos {
    border: solid white;
    display: block;
    position: absolute;
    background-color: rgb(80, 80, 87);
    width: 630px;
    height: 401px;
    top: 1300px;
    left: 700px;
    box-shadow: 5px 5px 5px black;
}

/*Formatação do menu inferior*/

nav#menu_inferior {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 1750px;
}

nav#menu_inferior div.box_m2 {
    border: solid white;
    background-color: rgb(80, 80, 87);
    height: 75px;
    width: 437px;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px black;
}

nav#menu_inferior div.box_m2:hover {
    background-color: gray;
}

nav#menu_inferior div.box_m2 a {
    height: 75px;
    display: block;
    position: relative;
    top: -23px;
    text-decoration: none;
}

nav#menu_inferior div.box_m2 p:hover {
    color: white;
    font-weight: bolder;
}

nav#menu_inferior div.box_m2 a p {
    display: block;
    position: relative;
    top: 21px;
    font-size: 16pt;
    color: lightblue;
}
