@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: lightgray;
}

body p {
    font-size: 20pt;
    color: white;
    text-align: center;
}

/*Formatação header*/

header h1 {
    display: block;
    position: relative;
    width: fit-content;
    left: 160px;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 27pt;
}

header div#logo {
    display: block;
    position: absolute;
    top: 10px;
    width: 150px; 
    height: 150px;
    background-color: black;
    border: 1px solid blue;
    color: white;
    text-align: center;
    font-size: 27pt;
}

/*Formatação do menu*/

nav#menu {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 978px;
    top: 10px;
}

nav#menu div.menu-item {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 175px;
    height: 75px;
    text-align: center;
    font-size: 15pt;
}

nav#menu div.menu-item:hover {
   background-color: gray;
}

nav#menu div.menu-item a{
    display: block;
    position: relative;
    top: -27px;
    color: lightblue;
    text-decoration: none;
    height: 75px;
}

nav#menu div.menu-item p {
    display: block;
    position: relative;
    top: 20px;
}

nav#menu div.menu-item p:hover {
    color: white;
    font-weight: bolder;
}

/*Formatação do article do texto de introdução*/

article#texto_introdutorio {
    display: block;
    position: absolute;
    top: 200px;
    background-color: rgb(80, 80, 87);
    border: solid white;
    width: 1325px;
    height: 400px;
}

article#texto_introdutorio h2 {
    display: block;
    position: absolute;
    top: -75px;
    left: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
}

article#texto_introdutorio p {
    color: white;
    text-align: center;
    font-size: 30pt;
}

/*Formatação do article do texto principal*/

article#texto_principal {
    display: block;
    position: absolute;
    top: 650px;
    background-color: rgb(80, 80, 87);
    width: 1325px;
    height: 400px;
    text-align: center;
    font-size: 30pt;
    color: white;
    border: solid white;
}

/*Formatação da primeira foto*/

div#foto {
    height: 200px;
    width: 300px;
    background-color: black;
    display: block;
    position: absolute;
    left: 1033px;
    top: 540px;
    border: solid blue;
}

article#texto_secundario {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 1325px;
    height: 200px;
    display: block;
    position: absolute;
    top: 1080px;
}


div#video1 {
    border: solid white;
    width: 650px;
    height: 400px;
    background-color: rgb(72, 72, 121);
    display: block;
    position: absolute;
    top: 1300px;
    left: 27px;
}

iframe#fatos_mitos {
    border: solid white;
    display: block;
    position: absolute;
    background-color: rgb(80, 80, 87);
    width: 630px;
    height: 401px;
    top: 1300px;
    left: 700px;
}

/*Formatação do menu inferior*/

nav#menu_inferior {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 1750px;
}

nav#menu_inferior div.box_m2 {
    border: solid white;
    background-color: rgb(80, 80, 87);
    height: 75px;
    width: 437px;
    font-size: 15pt;
    text-align: center;
}

nav#menu_inferior div.box_m2:hover {
    background-color: gray;
}

nav#menu_inferior div.box_m2 a {
    height: 75px;
    display: block;
    position: relative;
    top: -23px;
    color: lightblue;
    text-decoration: none;
}

nav#menu_inferior div.box_m2 p:hover {
    color: white;
    font-weight: bolder;
}

nav#menu_inferior div.box_m2 a p {
    display: block;
    position: relative;
    top: 21px;
    font-size: 16pt;
}
