@charset "UTF8";

body {
    background-color: lightgray;
}

body p {
    font-size: 20pt;
    color: white;
    text-align: center;
}

div#menu {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 1028px;
}

div#menu div.menu-item {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 150px;
    height: 75px;
    text-align: center;
    font-size: 15pt;
}

div#menu div.menu-item:hover {
    background-color: gray;
}

div#menu div.menu-item a{
    display: block;
    position: relative;
    top: 20px;
    color: lightblue;
    text-decoration: none;
}

div#menu div.menu-item a:hover {
    color: white;
    font-weight: bolder;
}

div#sub-titulo1 h2{
    display: block;
    position: absolute;
    top: 120px;
    font-family: 'Times new Roman' sans-serif;
    font-size: 24pt;
    font-weight: bold;
    width: 400px;
    padding-left: 10px;
}

div#texto_introdutorio {
    display: block;
    position: absolute;
    top: 200px;
    background-color: rgb(80, 80, 87);
    border: solid white;
    color: white;
    font-size: 30pt;
    text-align: center;
    width: 1325px;
    height: 400px;
}

div#texto_principal {
    display: block;
    position: absolute;
    top: 650px;
    background-color: rgb(80, 80, 87);
    width: 1325px;
    height: 400px;
    text-align: center;
    font-size: 30pt;
    color: white;
    border: solid white;
}

div#logo-foto {
    height: 200px;
    width: 300px;
    background-color: black;
    display: block;
    position: absolute;
    left: 1033px;
    top: 540px;
    border: solid blue;
}

div#texto_secundario {
    border: solid white;
    background-color: rgb(80, 80, 87);
    width: 1325px;
    height: 200px;
    display: block;
    position: absolute;
    top: 1080px;
}


div#video1 {
    border: solid white;
    width: 650px;
    height: 400px;
    background-color: rgb(72, 72, 121);
    display: block;
    position: absolute;
    top: 1300px;
    left: 27px;
}

div#fatos-mitos {
    border: solid white;
    display: block;
    position: absolute;
    background-color: rgb(80, 80, 87);
    width: 630px;
    height: 401px;
    color: white;
    font-size: 30pt;
    text-align: center;
    top: 1300px;
    left: 700px;
}

div#menu_inferior {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 1750px;
}

div#menu_inferior div.box_m2 {
    border: solid white;
    background-color: rgb(80, 80, 87);
    height: 75px;
    width: 430px;
    font-size: 15pt;
    text-align: center;
}

div#menu_inferior div.box_m2:hover {
    background-color: gray;
}

div#menu_inferior div.box_m2 a {
    display: block;
    position: relative;
    top: 22px;
    color: lightblue;
    text-decoration: none;
}

div#menu_inferior div.box_m2 a:hover {
    color: white;
    font-weight: bolder;
}
