@charset "UTF8";

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--link_color);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

a:hover {
    background-color: var(--alternative_background_color);
    color: var(--alternative_link_color);
}

header {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: var(--item_background_color);
    border-bottom: solid var(--border_color);
    position: sticky;
    top: 0%;
}

header div#menu-botao {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    align-items: center;
    justify-content: center;
    height: 50%;
}

header div button#botao_seguir {
    align-self: center;
}

header div nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

header div nav div.menu-item {
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    width: 50%;
    aspect-ratio: 10 / 1;
}

header div#logo {
    border: solid var(--border_color);
    width: 15%;
    aspect-ratio: 1 / 1;
}

header h1 {
    font-size: 20pt;
    align-self: center;
    width: 93%;
    margin-left: 3%;
}

header button {
    width: 50%;
    height: 10%;
    align-self: flex-end;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

article {
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    width: 90%;
    border-radius: 5%;
    box-shadow: 5px 5px 5px var(--shadow_color);
}

article p, h3 {
    padding: 1%;
    text-indent: 5%;
}

div#foto {
    display: inherit;
    align-items: center;
    justify-content: center;
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    width: 20%;
    aspect-ratio: 1 / 1;
    box-shadow: 5px 5px 5px var(--shadow_color);
    border-radius: 5%;
}

div#video-fatos_mitos {
    display: flex;
    gap: 1em;
    width: 90%;
}

div#video-fatos_mitos > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 16 / 9;
    border: solid var(--border_color);
    box-shadow: 5px 5px 5px var(--shadow_color);
    border-radius: 5%;
    color: var(--global_font_color);
}

div#video-fatos_mitos div#video {
    background-color: var(--item_background_color);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav#menu-inferior div {
    width: 100%;
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    box-shadow: 5px 5px 5px var(--shadow_color);
}
