@charset "UTF8";

/*Global tag formating*/

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link_color);
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--item_background_color);
    width: 100%;
    border-bottom: solid var(--border_color);
}

header button {
    display: none;
}

header h1 {
    font-size: 13pt;
    width: 90%;
    align-self: center;
}

header div#menu-botao {
    display: inherit;
    justify-content: center;
    align-items: center;
}

header div nav {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
}

header div nav div{
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    width: 50%;
}

header div#logo {
    display: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > * {
    font-size: 12pt;
    margin-top: 5%;
    border-radius: 5%;
}

article {
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    width: 90%;
    box-shadow: 5px 5px 5px var(--shadow_color);
}

article > * {
    text-indent: 4%;
    padding: 1%;
    text-align: justify;
}

div#foto {
    border: solid var(--border_color);
    width: 40%;
    aspect-ratio: 1 / 1;
    box-shadow: 5px 5px 5px var(--shadow_color);
}

div#video-fatos_mitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

div#video-fatos_mitos > * {
    border-radius: 5%;
    box-shadow: 5px 5px 5px var(--shadow_color);
}

div#video {
    border: solid var(--border_color);
    width: 100%;
    aspect-ratio: 16 / 9;
}

iframe {
    border: solid var(--border_color);
    width: 100%;
    margin-top: 5%;
    background-color: var(--item_background_color);
}

nav#menu-inferior {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    margin-top: 5%;
}

nav#menu-inferior div {
    border: solid var(--border_color);
    width: 100%;
    background-color: var(--item_background_color);
}
