@charset "UTF-8";

/*Light theme colors*/
:root {
    --background_primary_color: #ffffff;
    --background_secondary_color: #0072bb;
    --background_tertiary_color: #015d98;
    --font_color: #000000;
    --alternative_font_color: #ffffff;
    --alternative_background_color: #00b0e6;
    --link_color: #06724e;
}

/*Dark theme colors*/
@media (prefers-color-scheme: dark) {
    :root {
        --background_primary_color: #1f1b1b;
        --font_color: #ffffff;
        --link_color: #68f3c5;
    }
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background_primary_color);
}

nav#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav#menu div.menu-item {
    background-color: var(--background_secondary_color);
    width: 100%;
}

nav#menu div.menu-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--alternative_font_color);
    text-decoration: none;
    font-size: 1.2em;
}

nav#menu div.menu-item a:hover {
    background-color: var(--alternative_background_color);
}

article h1 {
    width: 100%;
    background-color: var(--background_tertiary_color);
    color: var(--alternative_font_color);
    padding-left: .5em;
}

article {
    color: var(--font_color);
}

.disclaimer {
    background-color: var(--background_tertiary_color);
    padding: .5em;
    font-size: 1.2em;
    color: var(--alternative_font_color);
}

.nota {
    text-decoration: underline;
    color: var(--alternative_background_color);
}

article p, article ul li {
    font-size: 1.2em;
    text-align: justify;
    padding: .5em;
    text-indent: .5em;
}
