@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
/*Light theme colors*/
:root {
  --background_primary_color: #ffffff;
  --background_secondary_color: #0072bb;
  --background_tertiary_color: #015d98;
  --font_color: #000000;
  --alternative_font_color: #ffffff;
  --alternative_background_color: #00b0e6;
  --link_color: #06724e;
}

/*Dark theme colors*/
@media (prefers-color-scheme: dark) {
  :root {
    --background_primary_color: #1f1b1b;
    --font_color: #ffffff;
    --link_color: #68f3c5;
  }
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", "Times new Roman", Arial, serif;
}

body {
  background-color: var(--background_primary_color);
}

header h1 {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  text-align: center;
  color: var(--font_color);
}
header h1 div#logo-image {
  justify-self: center;
  grid-column: 1;
}
header nav#menu {
  display: flex;
  flex-direction: row;
  align-items: unset;
  width: 100%;
}
header nav#menu div.menu-item {
  width: 100%;
}
header nav#menu div.menu-item * {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--alternative_font_color);
  text-decoration: none;
  background-color: var(--background_tertiary_color);
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2em;
}
header nav#menu div.menu-item *:hover, header nav#menu div.menu-item *:hover * {
  background-color: var(--alternative_background_color);
}
header nav#menu div.menu-item img {
  width: 1em;
}

article {
  color: var(--font_color);
}
article h1 {
  width: 100%;
  background-color: var(--background_tertiary_color);
  color: var(--alternative_font_color);
  padding-left: 0.5em;
}
article h1#info_notas {
  display: flex;
  flex-direction: row;
  align-items: unset;
  width: 100%;
  justify-content: space-between;
}
article p, article ul li {
  font-size: 1.2em;
  text-align: justify;
  padding: 0.5em;
  text-indent: 0.5em;
}

.nota {
  text-decoration: underline;
  color: var(--alternative_background_color);
}

.disclaimer {
  background-color: var(--background_tertiary_color);
  padding: 0.5em;
  font-size: 1.2em;
  color: var(--alternative_font_color);
}
