@charset "UTF-8";

:root {
    --font_size: 12pt;
}

nav {
    display: flex;
    flex-direction: row;
    width: 90%;
}

nav div.menu-item {
    background-color: var(--item_background_color);
    border: solid var(--border_color);
    width: 50%;
}

nav div.menu-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link_color);
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', 'Times new Roman', Arial, serif;
    font-size: calc(var(--font_size) - 2pt);
}

article {
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    border-radius: 5%;
    width: 90%;
    box-shadow: 5px 5px 5px var(--shadow_color);
}

article > * {
    text-indent: 4%;
    padding: 1%;
    font-family: 'Kdam Thmor Pro', 'Times new Roman', Arial, serif;
}

h1 {
    font-size: calc(var(--font_size) + 2pt);
}
