@charset "UTF-8";

nav {
    display: flex;
    flex-direction: row;
    width: 90%;
}

nav div.menu-item {
    background-color: var(--item_background_color);
    border: solid var(--border_color);
    width: 50%;
}

nav div.menu-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link_color);
    text-decoration: none;
}

article {
    border: solid var(--border_color);
    background-color: var(--item_background_color);
    border-radius: 5%;
    width: 90%;
    box-shadow: 5px 5px 5px var(--shadow_color);
}

article > * {
    text-indent: 4%;
    padding: 1%;
}
