@mixin flexrow($items_alignment) {
    display: flex;
    flex-direction: row;
    align-items: $items_alignment;
    width: 100%;
}

@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
